<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce App</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/baskets">Baskets</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <% if (!hasToken) { %>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            <% } else { %>
                <li class="logout"><a href="#">Log out</a></li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        <header>
            <h1>Welcome to ShopEasy!</h1>
            <p>Your one-stop online store for all your needs.</p>
        </header>
        <section class="hero">
            <img src="https://jashopeasy.com/wp-content/uploads/2022/04/aaaaa-1024x641.png" alt="ShopEasy Hero Image">
        </section>
        <section class="about">
            <center>
                <h2>About Us</h2>
            </center>
            <p>ShopEasy is your trusted online marketplace offering a wide variety of products ranging from electronics
                to fashion, home appliances to groceries, and much more. We are committed to providing you with the best
                shopping experience.</p>
        </section>
        <section class="featured-products">
            <center>
                <h2>Featured Products</h2>
            </center>
            <div class="products">
                <div class="product">
                    <img src="https://irshad.az/cdn-cgi/image/width=1600,height=1600/storage/products/88450/iphone-15-pro-titanium.png"
                        alt="Product 1">
                    <h3>iPhone 15 Pro Max 256 GB Natural Titanium</h3>
                    <p>$1199.99</p>
                </div>
                <div class="product">
                    <img src="https://irshad.az/cdn-cgi/image/width=540,height=550/storage/products/97273/qe55s90dauxru.png"
                        alt="Product 2">
                    <h3>Samsung 55" OLED (QE55S90DAUXRU)</h3>
                    <p>$29.99</p>
                </div>
                <div class="product">
                    <img src="https://irshad.az/cdn-cgi/image/width=540,height=550/storage/products/96685/mvd1.png"
                        alt="Product 3">
                    <h3>MDV MDSAF-24HRN8/MDOAF-24HN8</h3>
                    <p>$879.99</p>
                </div>
                <div class="product">
                    <img src="https://irshad.az/cdn-cgi/image/width=315/storage/products/88341/mmmm-1.png"
                        alt="Product 4">
                    <h3>RADIATOR TERRA TEKNIK 500/22x1500</h3>
                    <p>$119.99</p>
                </div>
            </div>
        </section>
    </div>

    <script>
        const logoutBtn = document.querySelector(".logout")
        logoutBtn.addEventListener("click", () => {
            fetch("/users/logout", {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                    // You can add more headers if needed
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // Handle the response as needed
                    console.log('Logout successful');
                })
                .catch(error => {
                    console.error('Error during logout:', error);
                });

        })
    </script>
</body>

</html>